<mat-tab-group>
  <mat-tab label="Вход">
    <form>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Имя">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Пароль">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button>Войти</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-tab>
  <mat-tab label="Регистрация" disabled="true">
  </mat-tab>
</mat-tab-group>
