<md-sidenav-layout fullscreen>
  <md-toolbar>
    <button md-icon-button aria-label="Menu" (click)="toggleLeftSideNav()">
      <md-icon>menu</md-icon>
    </button>
    <span>{{title}}</span>
    <span>{{appName}}</span>
    <span flex="100"></span>
    <button md-icon-button *ngIf="info">
      <md-icon>info</md-icon>
    </button>
    <button md-icon-button *ngIf="powerOn == false" disabled>
      <md-icon>power_settings_new</md-icon>
    </button>
    <button md-icon-button *ngIf="powerOn">
      <md-icon>exit_to_app</md-icon>
    </button>
    <button md-icon-button (click)="toggleRightSideNav()">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav #sidenav mode="side" class="app-left-sidenav" opened="{{leftSideNav}}">
    <md-toolbar>
      <md-button-toggle-group value="modules">
        <md-button-toggle value="favorite">
          <md-icon>favorite_border</md-icon>
        </md-button-toggle>
        <md-button-toggle value="modules">
          <md-icon>view_module</md-icon>
        </md-button-toggle>
        <md-button-toggle value="search">
          <md-icon>search</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span flex="100"></span>
      <button md-icon-button>
        <md-icon>refresh</md-icon>
      </button>
    </md-toolbar>
    <md-nav-list>
      <a md-list-item>
          <md-icon md-list-icon>dashboard</md-icon>
          <span md-line [routerLink]=" ['./dashboard']">Обзор</span>
      </a>
      <a md-list-item>
          <md-icon md-list-icon>view_module</md-icon>
          <span md-line [routerLink]=" ['./navigator'] ">Навигатор</span>
      </a>
      <md-list-item>
          <md-icon md-list-icon>accessibility</md-icon>
          <span md-line [routerLink]=" ['./access']">Доступ</span>
      </md-list-item>
      <a md-list-item>
          <md-icon md-list-icon>perm_data_setting</md-icon>
          <span md-line [routerLink]=" ['./metadata'] ">Модель данных</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-sidenav #rightSidenav align="end" mode="push" class="app-right-sidenav" opened="{{rightSideNav}}">
    <md-toolbar>
      <span flex="100"></span>
      <button md-icon-button (click)="closeRightSideNav()">
        <md-icon>close</md-icon>
      </button>
    </md-toolbar>
    <md-nav-list>
      <a md-list-item>
        <md-icon>settings_application</md-icon>
        <span md-line>Настройки</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <div class="app-content">
    <router-outlet flex></router-outlet>
  </div>
</md-sidenav-layout>
