logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
.lock-wscript
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
/node_modules
/bower_components
npm-debug.log
/coverage/
/src/typings/tsd/
/typings/
/tsd_typings/
/dist
/public/__build__/
/src/*/__build__/
/__build__/**
/public/dist/
/src/*/dist/
/dist/**
/.awcache
.webpack.json
/doc/
.idea/
*.swp
